.zag{
	text-align: center;
}
.z{
	text-align: center;
	font-size: 25px;
}
body{
	background: url(../img/6.jpg);
;
		background-size: cover;background-size: contain
}
.z1{
	font-size: 20px;
}
.z2{
	font-size: 23px;
}